*{
  font-family: elephant;
    color: #FE2EF7;
}
body {
     background-image: url("images/adri.jpg");
     background-size: cover;
}

/* MENU NAVIGATION */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none ;
    width: 100%;
    font-size: 15px;
}

li {
    float: left
}

li a {
    display: block;
    color: #FE2EF7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li {
    border-right: 1px solid #bbb;/*#bbb*/

}

li:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
    background-color: black;
}


footer {
  background-color: black;
  color: #FE2EF7;;
  position: absolute;
  bottom: 0px;
  width: 98%;
  text-align: right;
}
#left {
    float:left;
    width:350px;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin-left: 150px;
    margin-top: 60px;
    height: 300px;
    padding: 10px;

}
#right {
    padding: 10px;
    float:right;
    width:500px;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    margin-right: 150px;
    margin-top: 60px;
    height: 300px;
}
h3{
  text-align: center;
  color: #FE2EF7;
  border-bottom: 3px solid #FE2EF7;
}

a{
  text-align: center;
  color: #FE2EF7;
}

.valider a {
  float: right;
  margin-top: 30px;
  margin-right: 150px;
  display:block;
	width:180px;
	height:95px;
	background:#FE2EF7;
	box-shadow:2px 2px 8px #aaa;
	font:bold 15px elephant;
	border-radius:50%;
	color:white;
  text-align: center;
  text-decoration: none;
  height: 95px; /* hauteur du parent */
  line-height: 95px; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
}

.retour a {
  float: left;
  margin-left: 150px;
  margin-top: 30px;
  display:block;
	width:180px;
	height:50px;
	background:#FE2EF7;
	box-shadow:2px 2px 8px #aaa;
	font:bold 15px elephant;
	border-radius:50%;
	color:white;
  text-align: center;
  text-decoration: none;
  height: 95px; /* hauteur du parent */
  line-height: 95px; /* hauteur de ligne (identique) */
  white-space: nowrap;  interdiction de passer à la ligne */
}
